/** loading **/
.cm-icon-x20-loading-white
	size 20px
	background url(//file.baixing.net/201805/ui-loading-32x32-white-black.gif) no-repeat center center
	background-size 16px 16px
.cm-icon-x20-loading-black
	size 20px
	background url(//file.baixing.net/201805/ui-loading-32x32-black-white.gif) no-repeat center center
	background-size 16px 16px
.cm-icon-x30-loading-white
	size 30px
	background url(//file.baixing.net/201805/ui-loading-48x48-white-black.gif) no-repeat center center
	background-size 24px 24px
.cm-icon-x30-loading-black
	size 30px
	background url(//file.baixing.net/201805/ui-loading-48x48-black-white.gif) no-repeat center center
	background-size 24px 24px
